# Variables
- A variable is a reserved memory location.
- A variable in a python program gives data to the computer for processing.

### Basic data types
- Integers
- Floats
- Strings
- Boolean

### Python Variable Name Convention
A variable name in Python should fulfil the following
- Use lowercase
- Separate words with underscore.

A variable name in Python can be
- A single lowercase letter
- A lowercase word
- Or lowercase words separated by underscore.

Examples of variable names
- x
- i
- cars
- my_cars

Note that other programming languages can have other naming conventions.

### Declaration of variables

In [8]:
x = "i am a string"
num = 5
new_num = 43.8

type(new_num)

float

### Integers
An integer is a number which is not a fraction; a whole number.

Examples of integers: 
- -23
- -5
- 0
- 1
- 78
- 1,980,350

Examples of non-integers: 
- 3.14
- 0.001
- 9,999.999

In [8]:
a = 2
b = 4

print(a + b)
type(a), type(b)

c = a + b
type(c)

6

int

### Float
A float is a numbers with digits on both sides of a decimal point. This is in contrast to the integer data type, which houses an integer or whole number.

Examples of floats:
- 3.13
- 9.99
- 0.0001

Note that a float data type in Python can represent a whole number.
- 1.0
- 3.0

In [14]:
a = 1.1
b = 2.5

type(a), type(b)

(float, float)

In [13]:
c = a + b

print(c)

type(c)

5.1

float

In [16]:
d = 2

type (d + a)

print(d + a)

3.1

### Math functions
- **abs()** Returns absolute value of a number
- **pow()** Raises a number to a power
- **round()** Rounds a floating-point value

In [17]:
abs(-2)

2

In [18]:
pow(2, 3)

8

In [19]:
2**3

8

In [20]:
round(2.33, 1)

2.3

In [21]:
f = 1.22345566
round(f, 4)

1.2235

### Strings
A string in Python is a sequence of characters.

Examples
- "I am a string!"
- 'I am another string'

In [22]:
a = 'hello'
b = "hello"
print(a)

hello

In [23]:
c = 1

print(f"this is a formating metod no: {c} - should be aware")

this is a formating metod no: 1 - should be aware

### Boolean
- True or False (case sensitive)
- Either it rains or not -> Either you take your umbrella or not

In [24]:
True

True

In [25]:
False

False

In [26]:
b = True
b

True

In [27]:
c = 10 > 3
c

True

In [28]:
bool(2 > 15)

False